<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="false" />
  </system.web>
  <system.serviceModel>
    <services>
		<service name="MathsLibrary.MathsOperations">
			<!-- L'adresse de base demeure mais n'est pas utilisée -->
			<!-- Le endpoint ABC change de A, ici de port TCP/IP, 8733 -->
			<endpoint address="http://localhost:8733/Design_Time_Addresses/MathsLibrary/Service1/"
			  binding="basicHttpBinding" name="SoapEndPnt1" contract="MathsLibrary.IMathsOperations"/>

			<!-- L'adresse de base demeure mais n'est pas utilisée -->
			<!-- Le endpoint ABC change de A, ici de port TCP/IP , 8734 -->
			<endpoint address="http://localhost:8734/Design_Time_Addresses/MathsLibrary/Service1/"
			  binding="basicHttpBinding" name="SoapEndPnt2" contract="MathsLibrary.IMathsOperations" />
			
			<!-- L'adresse de base demeure mais n'est pas utilisée -->
			<!-- Le endpoint ABC change de A, ici de port TCP/IP , 8735 -->
			<endpoint address="http://localhost:8735/Design_Time_Addresses/MathsLibrary/Service1/"
			  binding="wsHttpBinding" name="SoapEndPnt3" contract="MathsLibrary.IMathsOperations" />

			<endpoint address="http://localhost:8733/Design_Time_Addresses/MathsLibrary/MathOperations/"
					  binding="webHttpBinding" name="RestEndPnt1" contract="MathsLibrary.IMathsOperations" behaviorConfiguration="Rest"/>
			
			<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:8733/Design_Time_Addresses/MathsLibrary/MathsOperations/" />
				</baseAddresses>
			</host>
		</service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
		<endpointBehaviors>
			<behavior name="Rest">
				<webHttp/>
			</behavior>
		</endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>